
@import url(reset.css);
 .text {
   color: rgb(48, 12, 227);
   font-family: "poppins";
   font-size: 16PX;

 }
 .lesson .ddd {
   color: rgb(231, 18, 40);
text-align: right;
 }
.ddd {
   color: rgb(14, 232, 134);
}
.rrrt {
color: rgba(243, 10, 10);
font-family: monospace;
}
.lesson {
color: blueviolet;
}

.title {
   color: chocolate;
   font-size: 50PX;
   font-style: italic;
   letter-spacing: 50px;
   text-shadow: -4px -10px 5px;
   text-align: center;
}